.simpleList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bordered(@color: gray) {
  border: solid 3px @color;
  box-sizing: border-box;
}

.displayFlex(@direction: row, @justify: flex-start, @align: flex-start) {
  display: flex;
  flex-direction: @direction;
  justify-content: @justify;
  align-items: @align;
}


body, html {
  margin: 0;
  padding: 0;
}

body {
  .displayFlex(column, stretch, stretch);
  background-color: #E2E1DE;
  height: 100vh;
}

.header{
  .displayFlex(row);
  flex-wrap: wrap;

  .bordered(red);

  min-height: 50px;
  flex-shrink: 0;
}

.main {
  .displayFlex(row, stretch, stretch);
  max-height: calc(100vh - 50px - 100px);
  margin: 0;
  padding: 0;

  flex-grow: 1;
  overflow-y: auto;
}

.footer {
  .displayFlex(row);
  .bordered(green);

  min-height: 100px;
  flex-shrink: 0;  
}

.users {
  width: 200px;
  overflow-y: auto;

  .bordered(orange);
  .displayFlex(column, flex-start, stretch);
  flex: none;
}

.users__list {
  .simpleList();  
  .displayFlex(column, flex-start, stretch);
}

.user {
  .displayFlex(row, stretch, center);
}

.user__foto {
  padding: 3px;
}

.user__name {
  padding: 3px;
  margin: 0;
}

.messages {
  .displayFlex(column);
  .bordered(purple);

  width: 100%;
  overflow-y: auto;
}

.messages__list {
  .simpleList(); 
  .displayFlex(column);
  width: 100%;
}

.message {
  .displayFlex(row);
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin: 5px auto;
  padding: 3px;
  color: black;
}

.message-content {
  border-radius: 15px;
  padding: 3px 8px;
}

.message_out .message-content {
  background-color: #B9FFF3;
}

.message_in .message-content {
  background-color: rgb(255, 240, 255);
}

.message-paragraph {
  margin: 3px 0;
  padding: 0;
}

.message-link {
}

.new-message {
  width: 100%;
  min-height: 3em;
  padding: 5px;
  box-sizing: border-box;
}
